.bridges-page {
    background-color: $color-white-smoke;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
        margin-top: 2rem;
    }

    .nav-tabs {
        margin-top: 3rem;
    }

}