// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-white: #FFF;
$color-black: #000;

$color-primary: #016599;
$color-primary-light: #029ec9;

$color-secondary: #323333;

$color-white-smoke: #f5f5f5;
$color-white-ghost: #f8f8f9;

$color-gold: #ffca00;

$color-gray: #bfbfbf;